@{
    ViewData["Title"] = "Gestão de Eventos";
}

<link rel="stylesheet" href="~/css/eventos.css" />

<main class="container-fluid">
    <section>
        <div class="d-flex justify-content-between align-items-center event-tabs mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" onclick="filterEvents('all')">Todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="filterEvents('futuros')">Futuros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="filterEvents('passados')">Passados</a>
                </li>
            </ul>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newEventModal">+ Novo Evento</button>
        </div>


            </div>
            <div class="col-md-3">
                <input type="date" class="form-control" id="searchData">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="searchLocal" placeholder="Local">
            </div>
            <div class="col-md-2">
                <select class="form-control" id="searchCategoria">
                    <option value="">Todas as Categorias</option>
                </select>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary w-100" id="searchBtn">Filtrar</button>
            </div>
        </form>

        <!-- Lista de Eventos -->
        <div id="eventList" class="mt-4">
            <!-- Eventos inseridos via JS -->
        </div>

        <!-- Lista de Eventos -->
        <div id="eventList" class="row">
            <!-- Os eventos serão renderizados via JS -->
        </div>
    </section>
</main>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

