@{
    ViewData["Title"] = "Gestão de Eventos";
}

<link rel="stylesheet" href="~/css/eventos.css" />

<main class="container-fluid">
    <section>
        <div class="d-flex justify-content-between align-items-center event-tabs">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="filterEvents('all')">Todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="filterEvents('upcoming')">Futuros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="filterEvents('past')">Passados</a>
                </li>
            </ul>
            <div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#newEventModal">+ Novo Evento</button>
                <button class="btn btn-secondary" id="gerarRelatorioGeral">Gerar Relatório</button>
            </div>
        </div>

        <!-- Modal Novo Evento -->
        @Html.Partial("_ModalNovoEvento")
        <!-- Modal Editar Evento -->
        @Html.Partial("_ModalEditarEvento")

        <!-- Filtros -->
        <div class="row my-3">
            <div class="col-md-2">
                <input type="text" id="searchNome" class="form-control" placeholder="Nome do Evento" />
            </div>
            <div class="col-md-2">
                <input type="date" id="searchData" class="form-control" />
            </div> 
            <div class="col-md-2">
                <input type="text" id="searchLocal" class="form-control" placeholder="Local" />
            </div>
            <div class="col-md-2">
                <select id="searchCategoria" class="form-control">
                    <option value="">Todas as Categorias</option>
                </select>
            </div>

            <div class="col-md-2">
                <button id="searchBtn" class="btn btn-outline-secondary w-100">Pesquisar</button>
            </div>
        </div>

        <!-- Lista de Eventos -->
        <div id="eventList" class="row">
            <!-- Os eventos serão renderizados via JS -->
        </div>

        <div class="modal fade" id="modalIngressos" tabindex="-1" role="dialog" aria-labelledby="modalIngressosLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                         <div class="modal-content">
                                <div class="modal-header">
                                         <h5 class="modal-title" id="modalIngressosLabel">Escolher Ingresso</h5>
                                         <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                 <span aria-hidden="true">&times;</span>
                                             </button>
                                    </div>
                                 <div class="modal-body">
                                   <select class="form-control" id="selectIngresso"></select>
                           </div>
                             <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                         <button type="button" class="btn btn-primary" id="confirmarIngressoBtn">Confirmar</button>
                          </div>
        </div>
               </div>
             </div>
    </section>
</main>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

@section Scripts {
    <script src="~/js/Eventos/eventos.js?v=1.0.5"></script>
    <script src="~/js/Eventos/Relatorioeventos.js?v=1.0.5"></script>
    <script src="~/js/Eventos/eventosModal.js?v=1.0.5"></script>
    <script src="~/js/Eventos/filtrosEventos.js?v=1.0.5"></script>
    <!-- SweetAlert2 CSS e JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

}
